
<h1>LeaveNoTrace</h1>

<% if !@errors.blank? %>
  <p class="errors">
    <%= "#{@errors}" %>
  </p>
<% end %>

<form action="/login" method="post">
  <div class="imgcontainer">
    <img src="https://i.pinimg.com/564x/28/d5/18/28d518485080567d0753622ff314a8da.jpg" alt="Sedona" class="hikes">
  </div>
  <h2>Login</h2>
  <div class="container">
    <label for="trailname"><b>Username</b></label>
    <input type="text" placeholder="Enter Trailname" name="trailname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
   
  </div>
</form>
