
<form action="/login" method="post">

  <h2>Login</h2>
  <strong style="color: red;"><%= @user.errors.full_messages.uniq.to_sentence if @user && @user.errors.any? %></strong><br>
    <label for="trailname"><b>Trailname</b></label>
    <input type="text" placeholder="Enter Trailname" name="trailname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>

</form>
