
<h2>Hikers:</h2>
<p>Find out where other users like to hike</p>

<table>
<%@users.each do |user| %> 
<tr>
    <td><a href="/users/<%=user.slug%>"><%=user.trailname%></a> </td>
</tr>
<%end%>
</table>

