

<form action="/signup" method="POST">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account.</p>
    <strong style="color: red;"><%= @user.errors.full_messages.to_sentence if @user && @user.errors.any? %></strong><br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email"><br>

    <label for="trailname"><b>Trailname</b></label>
    <input type="text" placeholder="Pick a trailname" name="trailname"> Trailname: A pseudonym that a hiker takes on as his or her trail identity. <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password"><br>


    <div class="submit">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
</form>