

<form action="/signup" method="POST">
<strong style="color: red;"><%= @user.errors.full_messages.to_sentence if @user && @user.errors.any? %></strong><br>
    <h4>Sign Up</h4>
    <p>Please fill in this form to create an account.</p>
    <table>
    <tr>
    <td align="left"><label for="email"><b>Email</b></label>
    <td align="left"><input type="text" placeholder="Enter Email" name="email"><br>
    </tr>
    <tr>
    <td align="right"><label for="trailname"><b>Trailname</b></label>
    <td align="left"><input type="text" placeholder="Pick a trailname" name="trailname"><br>
    </tr>
    <tr>
    <td align="right"><label for="password"><b>Password</b></label>
    <td align="left"><input type="password" placeholder="Enter Password" name="password"><br>
    </tr>
    </table>
    <div class="submit">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  
</form>