

<h2><%=@user.trailname%>'s Hikes</h2>

<table>
<%if @user.hikes.empty?%>
    <p>This hiker has no hikes</p>
<%else%>
    <%@user.hikes.each do |hike| %> 
    <tr>
        <td><a href="/hikes/<%=hike.id%>"><%=hike.name%></a> </td>
    </tr>
    <%end%>
<%end%>
</table>

