
<h1>LeaveNoTrace</h1>

<h2>Hiker: <%=@user.trailname%></h2>
<h3>Completed Hikes</h3>
<table>
<%@user.hikes.each do |hike| %> 
<ul>
    <li><a href="/hikes/<%=hike.id%>"><%=hike.name%></a> </li>
</ul>
<%end%>
</table>

<form action="/hikes" method="get">
<input type="submit" id="submit" value="All Hikes">
</form>
<form action='/hikes/new' method="get">
<input type="submit" value="Post a New Hike">
</form><br><br>
<form action='/logout' method="get">
<input type="submit" value="Log Out">
</form>