
<h4>Check out these Hikes!</h4>
<table>
<%@hikes.each do |hike| %> 
<tr>
    <td><a href="/hikes/<%=hike.id%>"><%=hike.name%></a> - posted by <a href="/users/<%=hike.user.slug%>"><%=hike.user.trailname%></a></td>
</tr>
<%end%>
</table>



