
<h4>Hikes:</h4>
<table>
<%@hikes.each do |hike| %> 
<ul>
    <li><a href="/hikes/<%=hike.id%>"><%=hike.name%></a> - <a href="/users/<%=hike.user.slug%>"><%=hike.user.trailname%></a></li>
</ul>
<%end%>
</table>

<form action='/hikes/new' method="get">
<input type="submit" value="Post a New Hike">
</form>
<form action='/logout' method="get">
<input type="submit" value="Log Out">
</form>