<h1>LeaveNoTrace</h1>
<h2>Welcome, <a href="/users/<%= current_user.trailname %>"><%= current_user.trailname %></a></h2>


<h4>Create a New Hike</h4>
  <form action='/hikes' method="post">
    Name: <br>
    <input type="text" name="name" id="name"required><br>
    Location: <br>
    <input type="text" name="location" id="location"required><br>
    Description: <br>
    <input type="text" name="description" id="description"required><br>
    Difficulty: Easy, Moderate or Difficult? <br>
    <input type="text" name="difficulty" id="difficulty"required><br>
    Rating: Enter 1-5 <br>
    <input type="text" name="rating" id="rating"required><br>
    Features: ex, "water, views, canyon" <br>
    <input type="text" name="features" id="features"required><br>
    Length: In miles <br>
    <input type="text" name="length" id="length"required><br>
    Tips: Let your fellow hikers know what to expect. <br>
    <input type="text" name="tips" id="tips"required><br>

    
    <input type="submit" value="Log Hike"></input>

  </form>

