<h3>Welcome to LeaveNoTrace.</h3>


<p>We believe in exploring the world with reverance and respect for nature.  Leave it the way you found it.<br>
Here you can get inspired by your next adventure, or inspire others by posting hikes you have completed.<br>
Take a look around.</p> 