
<div class="imgcontainer">
    <img src="https://i.pinimg.com/564x/28/d5/18/28d518485080567d0753622ff314a8da.jpg" alt="Sedona" class="hikes">
  </div>
<h1>Welcome to LeaveNoTrace!</h1>
Please <a href="/signup">Signup</a> or <a href="/login">Login</a> to continue. 