<html>
  <head>
    <title>Welcome to LeaveNoTrace</title>
  </head>
  <body>
 
    <div class="container">
      <h1></h1>
      <img src=>
 
      <%= yield %>
 
 
 
    </div>
    
  </body>
</html>